~$
*.bak
*.old
*.swp
/blib/
/cover_db
/inc/
/local
/Makefile
/Makefile.old
/MANIFEST$
/MANIFEST.bak
/META*
/MYMETA*
/pm_to_blib
/mojolicious-plugin-openapi-*
/.build
/_build_params
/Build
/Build.bat
!Build/
!META.json
!LICENSE
